# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# FAISS index files
*.faiss
*.pkl
data/faiss_index/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/